
@font-face {
    font-family: 'myFirstFont';
    src: url('typewrite-webfont.woff2') format('woff2'),
         url('typewrite-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: black;
}
.event{
    background-color: grey;
    width: 300px;
    height: 175px;
    border: 2px white solid;
    border-radius: 10px;
    font-family:  'myFirstFont';
    text-align: left;
    margin:5px;    
}
.inner{
    margin-left: 20px;
}
#header{
    margin-left:20px;
}